##
## Example connector server properties file
##

###### Client section where connector server initiates the connection to remote IDM
##
## The remote connector server (IDM) url to connect
##
connectorserver.url=wss\://{FIDC_URL}/openicf
##
## The connector server name
##
connectorserver.connectorServerName={CONNECTOR_NAME}
##
## The principal to authenticate
##
#connectorserver.principal=anonymous
##
## The password to authenticate
##
#connectorserver.password=changeit
##
## The proxy server host
##
#connectorserver.proxyHost=
##
## The proxy server port
##
#connectorserver.proxyPort=
##
## The proxy server principal
##
#connectorserver.proxyPrincipal=
##
## The proxy server password
##
#connectorserver.proxyPassword=
##
## The WebSocket Ping/Pong interval (seconds)
##
connectorserver.pingPongInterval=10
##
## The WebSocket connections housekeeping interval (seconds)
##
connectorserver.housekeepingInterval=9
##
## The WebSockets groups check interval (seconds)
##
#connectorserver.groupCheckInterval=900
##
## Number of websocket connections to open
##
connectorserver.webSocketConnections=3
##
## Time to live of a websocket connection (seconds)
##
connectorserver.connectionTtl=88
##
## New Connections interval (seconds)
##
connectorserver.newConnectionsInterval=26
##
## Token endpoint to retrieve access token if using OAuth2 to authenticate against IDM
##
connectorserver.tokenEndpoint=https\://{FIDC_URL}/am/oauth2/realms/root/realms/alpha/access_token
##
## OAuth2 Client id for which to request an access token
##
connectorserver.clientId=RCSClient
##
## OAuth2 Client secret
##
connectorserver.clientSecret={RCS_CLIENT_SECRET}
##
##OAuth2 Client scope
##
connectorserver.scope=fr:idm:*
##
######### end of client specific section
##
## The port we are to run on if in server mode
##
connectorserver.port=8759

##
## The bundle directory in which to find the bundles
##
#connectorserver.bundleDir=connectors

##
## The bundle directory in which to find any libraries needed by bundles at runtime
##
#connectorserver.libDir=lib

##
## Set to true to use SSL.
##
connectorserver.useSSL=true
##
## SSL setup up
##
#connectorserver.trustStoreFile=security/truststore.pkcs12
#connectorserver.trustStoreType=PKCS12
#connectorserver.trustStorePass=changeit
##
#connectorserver.keyStoreFile=security/keyStore.pkcs12
#connectorserver.keyStoreType=PKCS12
#connectorserver.keyStorePass=changeit
#connectorserver.keyPass=changeit

##
## Optionally specify a specific address to bind to
##
#connectorserver.ifaddress=localhost

##
## Secure hash of the gateway key. Set this by using the
## /setkey changeit
##
connectorserver.key={SERVER_KEY}

##
## Logger class.
##
connectorserver.loggerClass=org.forgerock.openicf.common.logging.slf4j.SLF4JLog
